<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="20.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="AutoCAD.NET.Core" version="20.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="AutoCAD.NET.Model" version="20.0.1" targetFramework="net45" developmentDependency="true" />
</packages>